html{
    height: 100%;
}

body{
    background: linear-gradient(to bottom, #5e2009, #483234);
}

h1{
    color: #eaeaec;
    font-family: 'Open Sans';
}

form{
    margin-top: 50vh;
    transform: translateY(-50%);
}

button{
    font-family: 'Open Sans';
}

.error{
    color: red;
}