body {
    background-color: #eaeaec;
}

h1 {
    font-family: 'Arvo';
    font-size: 18pt;
    color: #5e2009;
}

h4, p, p > strong, li{
    color: #5e2009;
}

.btn{
    font-family: 'Open Sans';
    background-color: #c66b0a;
    color: #eaeaec;
}

input, input::placeholder{
    font-family: 'Open Sans';
    color: #ab8c77;
    border: none;
}

.navbar > .navbar-brand{
    color: #5e2009;
    font-family: 'Arvo';
}

.nav-item > a{
    color: #5e2009;
}

.nav-pills .show > .nav-link{
    color: #5e2009;
    background-color: #eaeaec;
}

li > .dropdown-menu{
    background-color: #5e2009;
}

li > .show, li > .show > a{
    color: #eaeaec;
    background-color: #5e2009;
    font-family: 'Arvo';
}

li > .show > a:hover{
    color: #eaeaec;
    background-color: #5e2009;
    font-family: 'Arvo';
}

.dropdown-menu-right{
    right: 0;
    left: auto;
}

button > span{
    color: #5e2009;
}

h4{
    font-family: 'Arvo';
}

h5{
    font-family: 'Arvo';
    color: #c66b0a;
}

p{
    font-family: 'Open Sans';
}

.late > strong{
    color: red;
}

.not-rendered > strong{
    color: #c66b0a;
}

.rendered-up > strong{
    color: #1c7430;
}